$font-family-sans-serif: "Inter", system-ui, sans-serif;
$headings-font-family: "Archivo Black", system-ui, sans-serif;
$font-family-monospace: "JetBrains Mono", monospace;

$enable-rounded: false;

$border-width: 3px;
$border-color:#000;
$border-color-translucent: #000;

$box-shadow: 6px 6px 0 #000;
$box-shadow-sm: 3px 3px 0 #000;
$box-shadow-lg: 8px 8px 0 #000;
$box-shadow-inset: inset 3 3 0 #000;